<!--So I can used models-->
@using FinalProject_ABBOTT.Models;
@*
    A summary page that allows admins to see statistics
*@
<!--For contestant data.-->
@model ContestantsViewModel
@{
    ViewData["Title"] = "Summary Page";
}

<div class="text-center">
    <h1 class="display-4">Summary Page of SkillsUSA Nebraska @DateTime.Now.Year</h1>

    <h2>Total contestants:</h2>
    <p>@ViewBag.ContestantsAMT</p>
    <h2>Amount of contestants checked in:</h2>
    <p>@ViewBag.CheckedIn</p>
    <h2>Amount of contestants not checked in:</h2>
    <p>@ViewBag.CheckedOutAMT</p>
    <h2>[Contestants Group By Divisions]</h2>
    @foreach(Division division in ViewBag.Divisions)
    {
        <h3>@division.Name</h3>
        @foreach(Contestant contestant in ViewBag.Contestants)
        {
            if(contestant.DivisionID == division.DivisionID)
            {
                <p>@contestant.FirstName @contestant.LastName</p>
            }   
        }
    }

    <h2>List of non-checked in contestants</h2>
    <table class="table table-bordered table-striped mt-2">
        <thead>
            <tr>
                <th>Contestants ID</th>
                <th>Contestants First Name</th>
                <th>Contestants Last Name</th>
                <th>Contestants School</th>
            </tr>
        </thead>
        <tbody>
            @foreach(Contestant contestant in ViewBag.CheckedOutContestants)
            {
                <tr>
                    <td>@contestant.ContestantID</td>
                    <td>@contestant.FirstName</td>
                    <td>@contestant.LastName</td>
                    <td>@contestant.School.SchoolName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
