<!--So I can use models-->
@using FinalProject_ABBOTT.Models;
@*
    The page for managing all of the contestants.
*@
<!--for contestant data-->
@model ContestantsViewModel
@{
    ViewData["Title"] = "Contestants";
}

@*Used to show temporary data*@
@if (TempData.Keys.Contains("message"))
{
    <h2 class="bg-info p-2 text-white" style="text-align:center">@TempData["message"]</h2>
}

<!--Filters regarding contestants-->
<h1 class="display-4 text-center">List of Contestants</h1>
<div class="row">
    <div class="col-md-2" id="filters">
            <form asp-action="Filter" method="post">
                <div class="mb-3">
                    <label class="form-label">Division:</label>
                    <select name="filter" class="form-select"
                            asp-items="@(new SelectList(Model.Divisions, "DivisionID", "Name", Model.Filters.DivisionID))">
                        <option value="-1">All</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">School:</label>
                    <select name="filter" class="form-select"
                            asp-items="@(new SelectList(Model.Schools, "SchoolID", "SchoolName", Model.Filters.SchoolID))">
                        <option value="-1">All</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Checked Status:</label>
                    <select name="filter" class="form-select"
                            asp-items="@(new SelectList(Model.CheckedFilters, "Key", "Value", Model.Filters.CheckedStatus))">
                        <option value="-1">All</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Set Filters</button>
                <a asp-action="ContestantList" asp-route-filter="" class="btn btn-danger">Clear Filters</a>
            </form>
        <form asp-action="" method="post" style="padding-top: 1em">
            <a asp-action="Add" class="btn btn-primary mb-3">Add New Contestant</a>
        </form>
    </div>


<!--Information table regarding contestants-->
<div class="col-md-10 text-center">
    <form asp-action="" method="post">

    <table class="table table-bordered table-striped mt-2" id="contestantTable">
        <thead>
            <tr>
                <th>Contestants ID</th>
                <th>Contestants Full Name</th>
                <th>Contestants Division</th>
                <th>Contestants School</th>
                <th>Checked In Status</th>
                <th></th><!--Details-->
                <th></th> <!--Edit-->
                <th></th> <!--Delete-->
                <!--All other data is shown under contestants details-->
            </tr>
        </thead>
        <tbody>
            @foreach (Contestant contestant in Model.Contestants)
            {
                <!--Basic data-->
                <tr>
                    <td>@contestant.ContestantID</td>
                    <td>@contestant.FirstName @contestant.LastName</td>
                    <td>@contestant.Division.Name</td>
                    <td>@contestant.School.SchoolName</td>
                    <!--buttons-->
                    <td>
                            <!--Alternate buttons for prettiness-->
                            @if (contestant.CheckInStatus)
                            {
                                <a asp-action="CheckContestant"
                                asp-route-id="@contestant.ContestantID"
                                   class="btn btn-primary mb-3">Checked In</a>
                            }
                            else
                            {
                                <a asp-action="CheckContestant"
                                   asp-route-id="@contestant.ContestantID"
                                   class="btn btn-outline-primary mb-3">Checked Out</a>
                            }
                    </td>
                    <td>
                        <a asp-action="ContestantDetails"
                        asp-route-id="@contestant.ContestantID"
                        class="btn btn-primary">Details View</a>
                    </td>
                    <td>
                        <a asp-action="Edit"
                            asp-route-id="@contestant.ContestantID"
                            class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a asp-action="DeleteContestant"
                            asp-route-id="@contestant.ContestantID"
                            class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </form>
</div>
</div>